@using Azure.AI.OpenAI;
@using Azure;
@using System.Text;
<h3>Summarize</h3>
<div class="mb-3">
    <textarea @bind="prompt" class="form-control" rows="20"></textarea>
</div>
<div class="mb-3 border border-2 p-2 rounded">
    @if(loading)
    {
        <text>Loading...</text>
    }
    else
    {
        @promptResponse
    }
    
</div>
<button class="btn btn-primary" type="button" role="button" @onclick="Summarize" disabled="@loading">Summarize</button>

@code {
    [Inject] protected IConfiguration configuration { get; set; }

    string AOAI_ENDPOINT;
    string AOAI_KEY;
    string AOAI_DEPLOYMENTID_TEXT;
    string AOAI_DEPLOYMENTID_EMBEDDED;
    OpenAIClient openAIClient;
    string prompt;
    string promptResponse;
    bool loading = false;
    protected override void OnInitialized()
    {
        AOAI_ENDPOINT = configuration.GetValue<string>("Chat:AOAI_ENDPOINT");
        AOAI_KEY = configuration.GetValue<string>("Chat:AOAI_KEY");
        AOAI_DEPLOYMENTID_TEXT = configuration.GetValue<string>("Chat:AOAI_DEPLOYMENTID_TEXT");
        AOAI_DEPLOYMENTID_EMBEDDED = configuration.GetValue<string>("Chat:AOAI_DEPLOYMENTID_EMBEDDED");

        var endpoint = new Uri(AOAI_ENDPOINT);
        var credentials = new Azure.AzureKeyCredential(AOAI_KEY);
        openAIClient = new OpenAIClient(endpoint, credentials);
    }

    protected async Task Summarize()
    {
        loading = true;
        promptResponse = "";// "Loading...";
        var completionsOptions = new CompletionsOptions()
            {
                Prompts = { prompt },
                Temperature = (float)0.3,
                MaxTokens = 250,
                NucleusSamplingFactor = (float)1,
                FrequencyPenalty = (float)0,
                PresencePenalty = (float)0,
                GenerationSampleCount = 1,
            };
        //Completions response = await openAIClient.GetCompletionsAsync(AOAI_DEPLOYMENTID_TEXT, completionsOptions);

        Response<StreamingCompletions> responseStreaming = await openAIClient.GetCompletionsStreamingAsync(AOAI_DEPLOYMENTID_TEXT, completionsOptions);
        using StreamingCompletions streamingCompletions = responseStreaming.Value;

        await foreach (var item in streamingCompletions.GetChoicesStreaming())
        {
            loading = false;
            await foreach(var i in item.GetTextStreaming())
            {
                promptResponse += i;
                await InvokeAsync(StateHasChanged);
            }
        }
        
        
        //promptResponse = String.Join("", response.Choices.Select(c => c.Text));
    }
}
